body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: "Microsoft YaHei";
    background-color: #F4F4F4;
}

table.loginbody {
    padding-top: 10%;
    width: 100%;
}

table.formbody {
    width: 400px;
    padding: 30px 50px;
    background-color: #fff;
    border-radius: 5px;
}

input.login {
    border-width: 1px;
}

input.login:ACTIVE {
    border-width: 2px;
}
.formbody span {
    /*padding: 0 15px;*/
    font-size: 20px;
    color: #D4001D;
    text-align: center;
}
.formbody input {
    display: block;
    width: 90%;
    height: 22px;
    font-family: "Microsoft YaHei";
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px 0 6px 12px;
}
.formbody div.text {
    width: 100%;
    margin: 10px 0;
}
input.login {
    line-height: 20px;
    font-size: 14px;
    height: 34px;
    width: 95%;
    background-color: #D4001D;
    /*background: url(images/login_btn_bg.jpg);*/
    border-radius: 5px;
    border-style: hidden;
    color: #fff;
    padding: 6px 0;
    margin: 10px 0;
}
header {
    background-color: #f9f9f9;
    height: 65px;
}
.logo{
    float: left;
    margin-left: 17%;
}
.main_logo {
    width: 105px;
    height: 41px;
    line-height: 41px;
    display: inline-block;
    margin-top: 10px;
    padding: 0 18px;
    border-right: 1px solid #adadad;
    background: url("/img/index-logo1.png") center no-repeat;
}

.sub_logo {
    display: inline-block;
    padding-left: 10px;
    position: relative;
    top: -15px;
}

.sub_logo span {
    display: block;
    font-size: 20px;
    font-weight: bold;
}
