<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="MyWebApp" version="2.5">
  <display-name>flowbilling-channel</display-name>

  <!-- 加载spring自身的配置文件-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/applicationContext*.xml</param-value>
  </context-param>

  <!--Spring的ApplicationContext 载入：Spring的监听器 -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- 加载SpringMVC的配置文件-->
  <servlet>
    <servlet-name>Spring-mvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/Spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>

  </servlet>

  <servlet-mapping>
    <servlet-name>Spring-mvc</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/errPages/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/errPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>302</error-code>
    <location>/errPages/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errPages/error.jsp</location>
  </error-page>

</web-app>